ul.pagination
	if (step10 && pageCount >= 10)
		li.prev10(class=currentPageNumber>10?'active':'') &laquo;
	li.prev(class=currentPageNumber>1?'active':'') &lsaquo;
	if (showPageNames != null)
		li.pageNameSingular= showPageNames[0]
	li.current= currentPageNumber
	li.text of
	li.pagecount= pageCount
	if (showPageNames != null)
		li.pageNamePlural= showPageNames[1]
	li.next(class=currentPageNumber<pageCount?'active':'') &rsaquo;
	if (step10 && pageCount >= 10)
		li.next10(class=currentPageNumber<=pageCount-10?'active':'') &raquo;