ul.pagination
	if (step10 && pageCount >= 10)
		li.prev10(class=currentPage>10?'active':'') &laquo;
	li.prev(class=currentPage>1?'active':'') &lsaquo;
	if (showPageNames != null)
		li.pageNameSingular= showPageNames[0]
	li.current= currentPage
	li.text of
	li.pagecount= pageCount
	if (showPageNames != null)
		li.pageNamePlural= showPageNames[1]
	li.next(class=currentPage<pageCount?'active':'') &rsaquo;
	if (step10 && pageCount >= 10)
		li.next10(class=currentPage<=pageCount-10?'active':'') &raquo;